@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

$primary-color: #61666a;
$secondary-color: #0047ba;
$light-gray-color: #f2f2f2;

@mixin product-circle($color) {
  background: $color;
  width: 32px;
  height: 32px;
  border: 0px solid white;
  border-radius: 50%;
  margin-left: -1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "rubik", "sans-serif";
  color: $primary-color;
}

// Clean default margins and paddings in order to style cleaner
div,
.col*,
.row {
  margin: 0;
  padding: 0;
}

.product-color {
  .red {
    @include product-circle(red);
  }
  .white {
    @include product-circle(white);
  }
  .black {
    @include product-circle(black);
  }
  .khaki {
    @include product-circle(#dfc073);
  }
  .blue {
    @include product-circle(#28a9ff);
  }
  .gray {
    @include product-circle(gray);
  }
  .yellow {
    @include product-circle((yellow));
  }
}

.header {
  // position: fixed;
  width: 100%;
  height: 120px;
  padding-top: 4px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #ffffff;
  box-shadow: 0px 9px 18px #00000029;
  z-index: 10;

  @include sm {
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 155px;
  }
  @include lg {
    padding-left: 44px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 16px;
    height: 155px;
  }

  .banner {
    img {
      width: 200px;
      height: 28px;

      @include lg {
        width: 300px;
        height: 42px;
      }
    }
  }

  .nav-top__links {
    div {
      padding: 2px;

      @include sm {
        padding: 10px;
      }
      @include lg {
        padding: 15px;
      }
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
    a {
      text-decoration: none;
    }
  }

  .nav-bottom {
    ul {
      list-style-type: none;

      li {
        display: inline;
        margin-right: 8px;
        @include sm {
          margin-right: 32px;
        }

        a {
          text-decoration: none;
          color: $primary-color;
          font-size: 13px;
          @include sm {
            font-size: 16px;
          }
          @include lg {
            font-size: 26px;
          }

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #ffffff;

  &__top {
    background: $light-gray-color;
    height: 220px;
    padding-inline: 5%;
    font-size: 18px;
    font-weight: 500;

    @include sm {
      height: 150px;
    }

    @include lg {
      height: 72px;
    }
    .stores {
      span {
        display: block;
        text-align: center;
        @include sm {
          margin-right: 48px;
          text-align: left;
        }
        @include lg {
          display: inline;
        }
      }
      img {
        display: block;
        margin: 0 auto;

        @include sm {
          margin: 0;
          display: inline-block;
        }
        @include lg {
          margin-right: 8px;
        }
      }
    }
    .socials {
      text-align: center;
      span {
        display: block;
        text-align: center;
        @include sm {
          margin-right: 48px;
          text-align: left;
        }
        @include lg {
          display: inline;
        }
      }
      img {
        margin-right: 20px;

        @include sm {
          margin-right: 32px;
          text-align: left;
        }
      }

      @include sm {
        text-align: left;
      }
    }
  }

  &__bottom {
    height: 1200px;
    padding-inline: 5%;
    padding-top: 48px;
    padding-bottom: 80px;
    font-size: 20px;
    background: white;

    @include sm {
      height: 800px;
    }
    @include lg {
      height: 439px;
    }
    &-title {
      font-weight: 500;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 10px 0;

        span {
          color: $secondary-color;
          font-weight: 500;
          margin-left: 12px;
        }
      }
    }
    a {
      text-decoration: none;
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }

    .support-list {
      text-align: center;
      @include lg {
        text-align: left;
      }
      a {
        margin: 16px 0;
        border: 1px solid $secondary-color;
        border-radius: 8px;
        width: 300px;
        text-align: center;
        padding-top: 19px;
        padding-bottom: 19px;

        &:hover {
          background: lighten($secondary-color, 50%);
        }
        @include sm {
          width: 446px;
        }
      }
    }
  }
}
